
<div class="popup_event" id="popup_event_<%= talk.id %>">
	<div class="vevent">
		<h2 class="name summary"><%= talk.summary %></h2>
		Date:<span class="dtstart" title="<%= talk.start_date %>"><%= talk.start_date %></span><br />
		<b>Time:</b> <%= talk.start_time %> - <%= talk.end_time %><br />
		<b>Location:</b> <%= talk.location %><br />
		<%= simple_format talk.description %>

		<p>
		<%= link_to 'Bookmark', :controller => 'talk', :action => 'bookmark', :id => talk %>
		</p>

	</div>
</div>