<div class="tagcloud_block" id="tagcloud_block">
<p>
 <h2>The Foocamp Smartmob</h2>
	<ul id='tagcloud'>
		<% @users.each do |user| %>
			<li><%= link_to_person(user, '', {:class=> "popularity#{popularity_rank(user.popularity, 4)}"}) %></li>
		<% end %>
	</ul>
</p>
</div>
