html, body {
	background: #FBFBFB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0;
	height: 100%; /* Required */
}

a { color: #3b3b9b; text-decoration: none }
a:visited { color: #606099; }
a:hover { background-color: #eee; text-decoration: underline; }


a.add_bookmark_plus  {
color:green;
font-size: large;
font-weight: bold;
 text-decoration: none;
}

a:active.add_bookmark_plus {
text-decoration: underline
color: black }

div.vevent{
	
	border: 1px solid #cccccc;
	background-color: #efefef;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 500px;
}

div.popup_event {
	display: none;
	
}


.my_list {
	list-style: none;
	background-color: #efefef;
	border: 1px solid #cccccc;
}

.my_list ul {
	list-style: none;
	padding: 5px;
}

.my_list li { padding-bottom: 5px; }

.new_time li { list-style: none }
.new_date li { list-style: none }

/* layout - borrowed from upcoming.org */
/*** Body Wrapper ***/
#wrapper {
	width: 100%;
	position: relative;
	min-height: 100%; /* For Modern Browsers */
	height: auto !important; /* For Modern Browsers */
	height: 100%; /* For IE */
}

* html #wrapper {
	height: 100%;
}


/*** Header ***/
#nav {
   font-family: Arial, Helvetica, Verdana, sans-serif;
   font-size: 14px;
   background: #b71212;
}

#nav #upper {
  height: 32px;
  color: #fff;
  background: #b71212;
  font-weight: bold;
}

#nav #upper .right {
   font-size: 12px;
}

#nav #upper .left img, #nav #lower .left img {
   vertical-align: bottom;
   margin: 0px 5px 0px 5px;
}

#nav #lower {
   font-family: Arial, Helvetica, Verdana, sans-serif;
   color: #454545;
   background-color: #e8e8e8;
   height: 28px;
   font-size: 12px;
}

#nav #lower .right {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 14px;
   float: right;   
   margin-top: 2px;
   margin-right: 5px;
}

#nav #lower .right .text {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

#nav #lower .right .submit {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   background-color: #a40f0f;
   color: #fff;
}

#nav #upper a:active { color: #feecb2; text-decoration: underline; }
#nav #upper a:hover { color: #feecb2; text-decoration: underline; background-color: transparent; }

#nav #upper .left a:link { color: #fff; text-decoration: underline; }
#nav #upper .left a:visited { color: #fff; text-decoration: underline; }

#nav #upper .right a:link { color: #feecb2; text-decoration: underline; }
#nav #upper .right a:visited { color: #feecb2; text-decoration: underline; }


#nav #lower .left a:link { color: #3b3b9b; text-decoration: underline; }
#nav #lower .left a:visited { color: #3b3b9b; text-decoration: underline; }
#nav #lower .left a:active { color: #950c0c; text-decoration: underline; }
#nav #lower .left a:hover { color: #950c0c; text-decoration: underline; background-color: transparent; }

#nav img {
  vertical-align: top;
}

#banner a:hover { background: transparent }


#logout {
  float: right;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #454545;
  font-size: 11px;
  padding: 5px 10px 0px 10px;
}

#logout a {
  color: #454545;
  font-weight: bold;
  background: transparent;
}

#sidebar {
	float: right;
	width: 200px;
	font-size: 12px;
	border-left: 1px solid #ccc;
	padding-left: 15px;
}

/*** Main ***/
#main {
	background: #FBFBFB;
	padding: 15px;
	padding-bottom: 20px;
	height: auto;
}

#content {
  background: #FBFBFB;
  width: 70%;
  padding-bottom: 40px;
}

#content table {
  width: 100%;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border-collapse: collapse; 
	border: 1px solid #D3D3D3;
}


p.notice {
	color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

div.notice {
	border: 1px solid #cccccc;
	background-color: #efefef;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 400px;
	
}

/****
div.home_block{
	display: inline-block;
}

div.by_day_listing_block {
  position: relative;
  padding-right:20px;
  float: left;
}

div.tagcloud_block  {
   padding-left:20px;
	position: relative;
	float: right;
}
***/

#ajax-loading-hidden img{
	display:none;
}

#tagcloud { margin: 0; padding: 0; list-style-type: none;}
#tagcloud li { display: inline; margin-right: .5em; }

#tagcloud small, #tagcloud big { font-size: 100%; }

#tagcloud .popularity1 { font-size: 100%; }
#tagcloud .popularity2 { font-size: 110%; }
#tagcloud .popularity3 { font-size: 120%; }
#tagcloud .popularity4 { font-size: 130%; }
#tagcloud .popularity5 { font-size: 140%; }
#tagcloud .popularity6 { font-size: 150%; }
#tagcloud .popularity7 { font-size: 160%; }
#tagcloud .popularity8 { font-size: 170%; }
#tagcloud .popularity9 { font-size: 180%; }
#tagcloud .popularity10 { font-size: 190%; }

.hidden_text { color: #FFF; border-bottom: 1px dotted #ccc;}